body{
  overflow-x: hidden;
}

#banner-area img{
  max-height: 700px;
}

#login-btn:hover, #register-btn:hover{
  border: 1px solid black;
  background-color: #fff;
  color: #000;
}

.success-message-custom{
  position: absolute;
  animation-name: example;
  animation-duration: 12s;
  top: 75px;
  right: -1000px;
  width: 600px;
  z-index: 1000;
}

@media only screen and (max-width: 769px){
  .success-message-custom{
    width: 300px;
  }
}


@keyframes example {
  0% { right: -1000;}
  20%{ right : 10px;}
  75% {right: 10px;}
  100%{ right: -1000;}
}


/* TOP RATED MOVIES */

#top-rated-movies .owl-carousel img, #movies img{
  height: 180px;
  transition: transform .5s;
}

#top-rated-movies .owl-carousel img:hover, #movies img:hover{
  height: 180px;
  cursor: pointer;
  transform: scale(1.1);
}

#top-rated-movies .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 10%;
  margin-left: -35px !important;
  display: block !important;
  border:0px solid black;
  font-size: 3rem !important;
}

#top-rated-movies .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 10%;
  right: -25px;
  display: block !important;
  border:0px solid black;
  font-size: 3rem !important;
}

#top-rated-movies .owl-next:hover, #top-rated-movies .owl-prev:hover{
  border: none;
  background-color: #fff;
  color: #000;
}

#top-rated-movies .owl-next:active, #top-rated-movies .owl-prev:active,
#top-rated-movies .owl-next:focus, #top-rated-movies .owl-prev:focus{
  border: none;
  background-color: #fff;
  color: #000;
  outline: none;
}

@media only screen and (max-width: 600px){
  #top-rated-movies .owl-prev {
    position: relative;
    display: inline-block !important;
    border:0px solid black;
    height: auto;
  }
  
  #top-rated-movies .owl-next {
    position: relative;
    display: inline-block !important;
    height: auto;
  }

  #top-rated-movies .owl-nav{
    margin-top: 0;
  }
}

.movie-title{
  font-size: .8rem;
}




/* MOVIES */

#movies img{
  width: 100%;
}

#movies .grid .item {
  margin-right: .2rem;
  margin-top: 1rem;
  display: inline-block;
}

.search-input{
  border: 2px solid grey;
}

.search-btn{
  padding-top: .55rem;
  padding-bottom: .55rem;
}

.sort-btn:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 580px){
  form.d-inline-block{
    display: block !important;
    width: 70%;
    margin: 0 auto;
  }

  form.d-inline-block .btn{
    width: 100%;
  }

  #movies div.button-group{
    text-align: center !important;
  }
}

/* MODAL */

.modal{
  padding: 0 !important;
}

.modal iframe{
  height: 550px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal .close{
  font-size: 6rem;
  margin-right: 2rem !important;
}

.movie-card{
  box-shadow: 0px 1px 3px grey;
}

.movie-card img{
  width: 250px;
  max-width: 100%;
  height: 170px;
  transition: transform .5s;
}

.movie-card img:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.modal .close:focus{
  border: none;
  background-color: #fff;
  color: #000;
  outline: none;
}